body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, li, td, label, input {
    font-size: 12px;
    line-height: 1.4;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
}
h1 {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.1px;
    font-weight: bold;
    text-transform: uppercase;
}

p, label, td {
    font-weight: lighter;
    font-family: monospace;
}

* { box-sizing: border-box; }

.App {
    color: black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Header */

.App-header {
    width: 100%;
    padding: 15px;
    background-color: yellow;
}
.App-header > :first-child { margin-top: 0; }
.App-header > :last-child { margin-bottom: 0; }


/* Selector */

.Selector {
    width: 100%;
    padding: 15px;
    background-color: chartreuse;
}
.Selector > :first-child { margin-top: 0; }
.Selector > :last-child { margin-bottom: 0; }
.Selector label { margin-right: 10px; }

/* Playground */

.Playground {
    flex-grow: 2;
    width: 100%;
    padding: 10px;
    position: relative;
    height: 50vh;
    min-height: 260px;
    overflow: hidden;
    isolation: isolate;
}

@media (min-width: 750px) { .Playground { min-height: 400px; } }

.PlaygroundSwatch {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;
    cursor: pointer;
}
.PlaygroundSwatch:first-child { border: 0.5px dotted; }
.PlaygroundSwatch:nth-child(2) { left: 70px; }
.PlaygroundSwatch:nth-child(3) { left: 130px; }
.PlaygroundSwatch:nth-child(4) { left: 190px; }
.PlaygroundSwatch:nth-child(5) { left: 10px; top: 120px; }
.PlaygroundSwatch:nth-child(6) { left: 70px; top: 120px; }
.PlaygroundSwatch:nth-child(7) { left: 130px; top: 120px; }
.PlaygroundSwatch:nth-child(8) { left: 190px; top: 120px; }
.PlaygroundSwatch:nth-child(9) { display: none; }

@media (min-width: 750px) {
    .PlaygroundSwatch {
        width: 150px;
        height: 150px;
    }
    .PlaygroundSwatch:nth-child(2) { left: 130px; }
    .PlaygroundSwatch:nth-child(3) { left: 250px; }
    .PlaygroundSwatch:nth-child(4) { left: 380px; }
    .PlaygroundSwatch:nth-child(5) { left: 10px; top: 130px; }
    .PlaygroundSwatch:nth-child(6) { left: 130px; top: 130px; }
    .PlaygroundSwatch:nth-child(7) { left: 250px; top: 130px; }
    .PlaygroundSwatch:nth-child(8) { left: 380px; top: 130px; }
    .PlaygroundSwatch:nth-child(9) { display: block; left: 10px; top: 250px; }
}

/* Information */

.App-row {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    background-color: white;
}

.Basics { background-color: hotpink; }
.Desc { background-color: aqua; }
.Data { background-color: orange; }

.Basics,
.Desc,
.Data {
    padding: 15px 15px 25px 15px;
    flex: 1 0 80%;
}

@media (min-width: 450px) { .Basics, .Desc, .Data { flex: 1 0 45%; } }
@media (min-width: 750px) { .Basics, .Desc, .Data { flex: 1 0 33%; } }

.Basics > :first-child { margin-top: 0; }
.Basics > :last-child { margin-bottom: 0; }
.Desc > :first-child { margin-top: 0; }
.Desc > :last-child { margin-bottom: 0; }
.Data > :first-child { margin-top: 0; }
.Data > :last-child { margin-bottom: 0; }

.Desc p {
    white-space: pre-line;
}

table {
    font-size: 7px;
    border-collapse: collapse;
    border: 1px solid;
    table-layout: fixed;
}
@media (min-width: 750px) { table { font-size: 12px; } }

td {
    border: 1px solid;
    padding: 5px;
}
@media (min-width: 750px) { td { padding: 5px 10px; } }
