h1, h2, h3, h4, h5, h6, p, li, td, label, input {
    font-size: 14px;
    line-height: 1.4;
    margin-top: 10px;
    margin-bottom: 10px;
}

table {
    font-size: 12px;
    border-collapse: collapse;
    border: 1px solid;
    table-layout: fixed;
}

td {
    border: 1px solid;
    padding: 5px 10px;
}

.App {
    color: #000;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.App-header,
.Selector,
.Playground,
.Basics,
.Desc,
.Data {
    border: 1px solid;
    padding: 10px;
    margin: 5px;
}

.App-header,
.Selector,
.Playground,
.App-row {
    width: 100%;
}

.Selector ul {
    list-style: none;
}

.Selector li {
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.Playground {
    position: relative;
    height: 60vh;
    overflow: hidden;
}

.PlaygroundSwatch {
    position: absolute;
    top: 60px;
    left: 20px;
    width: 100px;
    height: 100px;
    /*-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px;*/
    border: 1px solid;
    cursor: pointer;
}

.PlaygroundSwatch:nth-child(3) { left: 100px; }
.PlaygroundSwatch:nth-child(4) { left: 180px; }
.PlaygroundSwatch:nth-child(5) { left: 260px; }
.PlaygroundSwatch:nth-child(6) { left: 340px; }
.PlaygroundSwatch:nth-child(7) { left: 420px; }
.PlaygroundSwatch:nth-child(8) { left: 500px; }

.PlaygroundSwatch p {
    text-align: center;
    font-size: 8px;
    line-height: 1;
    margin-top: 46px;
}

.App-row {
    display: flex;
}

.Instructions,
.Basics,
.Desc,
.Data {
    flex: 1 1;
}

.Desc p {
    white-space: pre-line;
}
